/* STEP 1: Configure an element for animation */
#animated-shape {
    width: 200px;
    height: 200px;
    background: orange;
    /* 4 sub-properties to attach animation */
    animation-name: colorchange-alt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* STEP 2: Define the animation sequence */
@keyframes colorchange {
    from { background: black; }
    to { background: orange; }
}
@keyframes colorchange-alt {
    0% { background: orange; }
    50% { background: Black; }
    100% { background: orange; }
}

/* STEP 1: Attach animation to an element, using a shortcut property "animation" that combines name, duration, iterations, and timing function */
#animated-emoji {
    animation: move-emoji 5s infinite ease-in-out;
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 80px;
    font-size: 50px;

}
/* STEP 2: Define the animation sequence */
@keyframes move-emoji {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg);
    }
}





.box {
    background: orange;
    margin: 20px;
    width:100px;
    height:100px;
    text-align: center;
}

/* The TRANSFORM property uses functional values like f(x) to change an element */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}

#skew {
    transform: skew(-25deg);
}

/* translate(x) moves along x axis, translate (x, y) moves diagnally translate (0, y) moves along y only */
#translate {
    transform: translate(110px, 40px);
}

/* to apply MULTIPLE TRANSFORMS to the same element, you chain the functions in the same line of code */

#chain {
    transform: scaleY(0.75) rotate(280deg) translate(-10px);
}

#three-d {
    transform: perspective(100px) translateZ(-30px);
}